<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/" security="none"/>
    <http pattern="/index.shtml" security="none"/>
    <http>
        <form-login login-page="/index.shtml"/>
        <logout logout-success-url="/index.shtml"/>
        <csrf disabled="true"/>
        <anonymous enabled="false"/>
        <custom-filter ref="myAuthenticationFilter" before="FORM_LOGIN_FILTER"/>
        <custom-filter ref="resourceSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR"/>
    </http>

    <beans:bean id="myAuthenticationFilter" class="com.nexusy.security.auth.MyAuthenticationFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="filterProcessesUrl" value="/login.shtml"/>
        <beans:property name="authenticationFailureUrl" value="/index.shtml?error=1"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="myAuthenticationProvider"/>
    </authentication-manager>

    <beans:bean id="myAuthenticationProvider" class="com.nexusy.security.auth.MyAuthenticationProvider">
        <beans:property name="userDetailsService" ref="userService"/>
    </beans:bean>

    <beans:bean id="resourceSecurityInterceptor"
                class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="accessDecisionManager" ref="myAccessDecisionManager"/>
        <beans:property name="securityMetadataSource" ref="myMetadataSource"/>
        <beans:property name="observeOncePerRequest" value="true"/>
    </beans:bean>

    <beans:bean id="myAccessDecisionManager" class="com.nexusy.security.auth.MyAccessDecisionManager">
    </beans:bean>

    <beans:bean id="myMetadataSource" class="com.nexusy.security.auth.MyMetadataSource" init-method="init">
        <beans:property name="urlResourceService" ref="urlResourceService"/>
    </beans:bean>

    <beans:bean id="userService" class="com.nexusy.security.service.UserService"/>

    <beans:bean id="urlResourceService" class="com.nexusy.security.service.UrlResourceService"/>
</beans:beans>