<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/" security="none"/>
    <http pattern="/index.shtml" security="none"/>
    <http>
        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/user/**" access="hasRole('USER')"/>
        <form-login login-page="/index.shtml" login-processing-url="/login.shtml"
                    default-target-url="/user/index.shtml"/>
        <logout logout-success-url="/index.shtml"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userService"/>
    </authentication-manager>

    <beans:bean id="userService" class="com.nexusy.security.service.UserService"/>

</beans:beans>